/*----- header -----*/
*{
    font-family: 'Prompt', sans-serif;
}
.now-nav-menu{
    float: right;
    font-size: 30px;
    padding: 4px 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.now-nav-menu>.menu-btn{
    color: #990012;
}
.now-nav-menu>.menu-btn:focus{
    outline: none;
}
#modal-menu .modal-backdrop.in{
    opacity: 0.9;
}
#modal-menu .menu-left{
    float: left;
    padding: 3px 39px;
}
#modal-menu .menu-right{
    color: #FFF;
}
.now-navbar .navbar-brand{
    padding-left: 40px;
    padding-top: 3px;
}
.now-navbar.navbar-default{
    border-radius: 0;
    margin: 0;
    border: 0;
    background: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 10;
}
.nav-logo{
    display: inline-block;
    background-image: url("../img/logo.jpg");
    height: 50px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: 220px;
}
.nav-logo.black{
    background-image: url("../img/logo-black.png");
}
.logo-menu{
    width: 100%;
    height: 50px;
}
#modal-menu a.close{
    opacity: 1;
    padding: 14px 43px;
    color: #FFF;
    font-weight: 100;
    font-size: 20px;
}
#modal-menu a.close .close-icon{
    margin-left: 10px;
}
#modal-menu>.modal-dialog{
    width: 100%;
    margin: 0;
}
#modal-menu .close:focus{
    outline:none;
}
#modal-menu .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 15%;
}
#modal-menu .menu>li{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
#modal-menu .menu>li>a{
    text-decoration: none;
    color: #fff
}
.close-icon{
    background-image: url("../img/close.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.container-header{
    background-image: url("../img/bg_homepage.png");
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    text-align: center;
    background-position: center;
}
.container-header .banner{
    width: 100%;
    padding: 0 50px;
    height: 284px;
    background-size: 100%;
    display: inline-block;
    margin-top: 250px;
    background-repeat: no-repeat;
}
.container-header .banner>img{
    width: 100%;
}
.text-banner{
    text-align: left;
    font-size: 18px;
    padding:  0 10px;
    width: 100%;
    display: inline-block;
}
.under-banner{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 170px;
    background-image: url('../img/bg-g.png');
    padding-top: 50px;
}

/*----- footer -----*/
.footer{
    height : 300px;
    background-color: #cccccc;
}
.logo-footer{
    background-image: url('../img/logo-footer.png');
    width: 90px;
    height:50px;
    background-size: 100%;
    display: inline-block;
}
.footer .logo-footer{
    display: block;
    margin: auto;
    margin-top: 70px;
}
@media (min-width: 768px){
    .text-banner {
        width: 700px;
    }
    .container-header .banner{
        padding: 0;
        width: 525px;
    }
}

@media (min-width: 992px){
    .text-banner {
        width: 800px;
    }
}


@media (max-width: 767px) {

}